@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@font-face {
  font-family: 'cwTexHei';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot);
  src: url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff) format('woff'),
       url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.ttf) format('truetype');
}

h1,
h2,
h3,
h4,
h5,
h6,
body,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "cwTexHei","Ubuntu", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}

.head{
	font-family: "cwTexHei","Ubuntu", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #aaa;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: auto;
  background-color: #47314E;
  padding-top: 20px;
  padding-bottom: 20px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}